body  {
    display: flex;
    flex-direction: column;
    margin: 0px;

}

.background1 {
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
}

.header-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px


}

.header-left {
    font-size: 30px;
    
}

.header-right {
    display: flex;
    font-size: 18px;
    gap:20px;
    opacity: 0.5;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
}