body  {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: #1f2937;
}
/*Start of Header */
.background1 {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 150px;
}

.header-container {
    height: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px


}

.header-left {
    font-size: 24px;
    
}

.header-right {
    display: flex;
    font-size: 18px;
    gap:20px;
    opacity: 0.5;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
}
/* Starting Section 1 */

img {
    height: 250px;
    width: 500px;
    border-radius: 10px;
}

li {
    color: white;
    list-style-type: none;
}

button {
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
    border-color: #3882f6;
    width: 66px;
    height: 31px;
}
.section1 {
    display: flex;
    justify-content: space-between;
}

.section1-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 15px;


}

.section1-left-txt1 {
    font-size: 48px;
    font-weight: bold;
}

.section1-left-txt2 {
    opacity: 0.5;
}

/* section 2 starts here */
.background2 {
    background-color: white;
}
.section2 {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section2 h1 {
    text-align: center;

}
.section2imgs {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.section2imgs img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}
/* final section */

.background3 {
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctacontainer {
    height: 150px;
    width: 600px;
    border-radius: 10px;
    background-color: #3882f6;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.ctacontainer h1{
    font-size: 18px;
    text-align: start;
}
.ctacontainer button {
    border-color: white;
    border-radius: 10px;
}