body  {
    display: flex;
    flex-direction: column;
    margin: 0px;

}

.background1 {
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
}

.header-container {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    gap: 20px

}

a {
    text-decoration: none;
}